<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div>

  <ion-footer class="head" no-border>
    <ion-icon class="head-icon" color="light" name="arrow-back" routerLink="/home"></ion-icon>
    <ion-label class="head-label">---------------------</ion-label>
    <br/>
    <ion-icon color="light" name="person"></ion-icon>
    <ion-label class="head-label"> Edit Profile</ion-label>
    <br/>
    <ion-label class="head-label">---------------------</ion-label>
  </ion-footer>

  <ion-footer class="form-register" no-border>
    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="contact" color="primary"></ion-icon></ion-label>
      <ion-input required type="text" [(ngModel)]="user.nickname" placeholder="Nickname" disabled></ion-input>
    </ion-item>

    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
      <ion-input required type="text" [(ngModel)]="user.name" placeholder="Name"></ion-input>
      <ion-label><ion-icon name="finger-print" color="primary"></ion-icon></ion-label>
      <ion-input required type="text" [(ngModel)]="user.lastname" placeholder="Last name"></ion-input>
    </ion-item>

    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="phone-portrait" color="primary"></ion-icon></ion-label>
      <ion-input required type="number" [(ngModel)]="user.cellphone" placeholder="Phone number"></ion-input>
    </ion-item>

    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
      <ion-input required type="email" [(ngModel)]="user.email" placeholder="Email" disabled></ion-input>
    </ion-item>

    <ion-item class="bottom-inputs" color="light">
        <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
        <ion-input required type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
      <ion-input required type="password" [(ngModel)]="user.repeatpassword" placeholder="Confirm password"></ion-input>
    </ion-item>

    <ion-footer class="dialog-alert" no-border>
      <ion-icon class="head-icon-dialog" color="danger" name="alert"></ion-icon>
      <ion-label class="head-label-dialog"> Leave blank the inputs you don't</ion-label>
      <br/>
      <ion-label class="head-label-dialog">want to edit </ion-label>
    </ion-footer>
    
    <ion-button class="bottom-button" color="primary" (click)="editProfile()"><ion-icon name="save" color="light"></ion-icon> Save Changes</ion-button>
  </ion-footer>

  <ion-img class="logo-end" src="../../../assets/images/logo.png"></ion-img>
</div>