<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div>
  <ion-img class="logo" src="../../../assets/images/logo.gif"></ion-img>

    <ion-footer class="logo-login" no-border>
        <ion-icon class="big-icon" name="contact" color="light"></ion-icon>
    </ion-footer>

    <ion-footer class="form-inputs" no-border>
        <ion-item class="bottom-inputs" color="light">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-input required type="text" [(ngModel)]="user.nickname" placeholder="Nickname"></ion-input>
        </ion-item>
    
        <ion-item class="bottom-inputs" color="light">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input required type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
        </ion-item>
        
        <ion-button class="bottom-button" color="primary" (click)="login()"><ion-icon name="log-in" color="light"></ion-icon> Log in</ion-button>
    </ion-footer>

    <ion-footer class="margin-options" no-border >
        <ion-label class="options" color="light" routerLink="/register"><ion-icon name="person-add"></ion-icon> Sign up</ion-label>
    </ion-footer>
</div>